@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Montserrat Regular";
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat Bold";
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat SemiBold";
  src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat Medium";
  src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat Light";
  src: url(../assets/fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Lato Light";
  src: url(../assets/fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato Regular";
  src: url(../assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato Bold";
  src: url(../assets/fonts/Lato/Lato-Bold.ttf);
}
h1 {
  text-align: center;
  margin: 80px 0;
}

.mynav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mynav li:not(:last-child) {
  margin-right: 20px;
}

.mynav li {
  align-self: center;
}

.mynav a {
  display: block;
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 7px 15px;
}

.target {
  position: absolute;
  border-bottom: 4px solid transparent;
  z-index: -1;
  transform: translateX(-60px);
}

.mynav a,
.target {
  transition: all 0.35s ease-in-out;
}

.mynav__img {
  width: 130px;
}

.banner {
  background-image: url("../assets/images/banner.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .banner {
    height: fit-content;
  }
}
.banner__img {
  width: 100%;
}

.title-banner {
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  color: #000;
}
.title-banner__text {
  background-color: #414151;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.card {
  width: 18rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #eaeaea8f;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 10px;
}
.card__img {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  width: 100%;
  height: 180px;
}

.card h4 {
  margin: 20px 0px 0px 10px;
  width: 100%;
  color: #caae58;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-family: Montserrat bold;
}

.card h4:hover {
  color: #fabb00;
}

.card p {
  width: 90%;
  margin: 10px;
}

.grid50 {
  width: 50%;
  margin: 5px;
}

.showcase100 {
  width: 100%;
  height: 320px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.showcase100:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

#showcase1 {
  background-image: url("../assets/images/showcaseOne.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#showcase2 {
  background-image: url("../assets/images/showcaseTwo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#showcase3 {
  background-image: url("../assets/images/showcaseThree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase50 {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.showcase50:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.showcase__text {
  background-color: #414151;
  color: #fff;
  padding: 3px 20px;
  font-size: 15px;
  letter-spacing: 3px;
  position: absolute;
  left: 0;
  top: 20%;
  text-align: center;
}

.box {
  width: 100%;
  height: 320px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.box__text {
  background-color: #414151;
  color: #fff;
  padding: 3px 20px;
  font-size: 10px;
  letter-spacing: 1px;
  position: absolute;
  left: 0;
  top: 20%;
}

.box:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

#box1 {
  background-image: url("../assets/images/box1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#box2 {
  background-image: url("../assets/images/box2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  align-items: center;
  background: #414151;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 15px;
}
@media screen and (max-width: 758px) {
  .footer {
    display: block;
    text-align: center;
  }
}
.footer__infos {
  color: #fcfffd;
  font: 16px "Lato Bold", "sans-serif";
}
.footer__infos p {
  margin: 10px 0;
}
.footer__social-img {
  margin: 20px;
}

.footer a {
  text-decoration: none;
}

.contato {
  font-family: "Montserrat Regular", "sans-serif";
  background: #fff;
  padding: 3rem;
}
@media (max-width: 768px) {
  .contato {
    padding: 2rem;
  }
}
.contato-container.wrapper {
  width: 90%;
  margin: 0 auto;
}
.contato-banner {
  padding-top: 50px;
  padding-bottom: 50px;
}
.contato-img img {
  max-width: 250px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .contato-img img {
    max-width: 170px;
    display: block;
    margin: 0 auto;
  }
}
.contato .form-contato {
  flex: 0 0 35%;
}
.contato .form-group {
  display: flex;
  flex-direction: column;
}
.contato .form-input {
  padding: 10px;
  height: 25px;
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none;
  background: #f3f3f3;
  color: #000;
  outline: none;
}
@media (max-width: 768px) {
  .contato .form-input {
    width: unset;
  }
}
.contato .form-input::placeholder {
  color: #000;
  font-size: 15px;
}
.contato .btn {
  outline: none;
  padding: 5px 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 10px;
  background-color: #ffab02;
  color: #fff;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.contato .btn svg {
  margin-right: 10px;
}
.contato .btn:hover {
  background: #c28100;
}
.contato textarea.form-input {
  min-height: 100px;
}

.container-contato {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .container-contato {
    flex-direction: column;
  }
}

body {
  background: #fffef388;
  padding: 0;
  margin: 0;
  font-family: "Montserrat Regular", "sans-serif";
}

.container {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 100%;
}

.container-flex {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 70%;
}

.section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.title {
  border-bottom: 1px solid #8a8a8a;
  font: 30px/35px "Montserrat Regular", "sans-serif";
  padding-bottom: 5px;
  text-transform: uppercase;
}

.text {
  font: 16px/20px "Lato Regular", "sans-serif";
}

/*# sourceMappingURL=style.css.map */
