 h1 {
     text-align: center;
     margin: 80px 0;
 }

 .mynav ul {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 .mynav li:not(:last-child) {
     margin-right: 20px;
 }

 .mynav li {
     align-self: center;
 }

 .mynav a {
     display: block;
     font-size: 20px;
     color: black;
     text-decoration: none;
     padding: 7px 15px;
 }

 .target {
     position: absolute;
     border-bottom: 4px solid transparent;
     z-index: -1;
     transform: translateX(-60px);
 }

 .mynav a,
 .target {
     transition: all .35s ease-in-out;
 }

 .mynav {
     &__img {
         width: 130px;
     }
 }


 .banner {
     background-image: url("../assets/images/banner.jpg");
     height: 500px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

     &__img {
         width: 100%;
     }
 }

 .title-banner {
     position: absolute;
     left: 0;
     top: 50%;
     text-align: center;
     color: #000;

     &__text {
         background-color: #414151;
         color: #fff;
         padding: 18px;
         font-size: 25px;
         letter-spacing: 10px;
     }
 }

 .card{

    width: 18rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#eaeaea8f;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin:10px;

    &__img{
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        width: 100%;
        height: 180px;
    }
 }

 .card h4{
    margin: 20px 0px 0px 10px;
    width: 100%;
    color: #caae58;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-family: Montserrat bold; 
 }

 .card h4:hover{
    color: #fabb00;
 }

 .card p{
    width: 90%;
    margin: 10px;
 }