<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NAC - Sass</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>

</head>

<body>

    <nav class="mynav">
        
        <ul>
            <li><img src="../assets/images/Fashion_logo.svg" alt="Gastown Outlet" title="Gastown Outlet" class="mynav__img" /></li>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Company</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <span class="target"></span>
<div class="banner parallax">
    <div class="title-banner">
        <h1 class="title-banner__text">Coleção Verão 2021</h1>
    </div>
</div>


    <script src='../js/main.js'></script>
</body>

</html>