<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NAC - Sass</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>

</head>

<body>

    <nav class="mynav">

        <ul>
            <li><img src="../assets/images/Fashion_logo.svg" alt="Gastown Outlet" title="Gastown Outlet"
                    class="mynav__img" /></li>
            <li><a href="">Home</a></li>
            <li><a href="">Sobre nós</a></li>
            <li><a href="">A Outlet</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </nav>
    <span class="target"></span>
    <div class="banner parallax">
        <div class="title-banner">
            <h1 class="title-banner__text">Coleção Verão 2021</h1>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <h3>Outras Coleções</h3>
            <h4>Mais coleções de outras temporadas.</h4>
        </div>
        <div class="container-flex">
            <div class="card">
                <img src="../assets/images/spring-fashion.jpg" class="card__img" />
                <h4>spring2014/Primavera2014</h4>
                <p>Se aventure na Primavera com cheiros e cores.</p>
            </div>
            <div class="card">
                <img src="../assets/images/summer-fashion.jpg" class="card__img" />
                <h4>summer2017/Verão2017</h4>
                <p>Caia de cabeça nas sensações do Verão.</p>
            </div>
            <div class="card">
                <img src="../assets/images/winter-fashion.jpg" class="card__img" />
                <h4>winter2020/Inverno2020</h4>
                <p>Sinta-se em casa com estilo no Inverno</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <h3>A moda do momento</h3>
            <h4>Conheça mais sobre nosso trabalho.</h4>
        </div>
        <div class="container-flex">
            <div class="grid50">
                <div class="showcase100" id="showcase1">
                    <div class="showcase__text">
                        <p>Sobre nós</p>
                    </div>
                </div>
            </div>
            <div class="grid50">
                <div class="showcase50" id="showcase2">
                    <div class="showcase__text">
                        <p>Produtos</p>
                    </div>
                </div>
                <div class="showcase50" id="showcase3">
                    <div class="showcase__text">
                        <p>Serviços</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="preFooter">
        <div class="box">
            <div class="box__text">
                <h3>Entre em contato</h3>
                <p>Mande uma mensagem para nós!</p>
            </div>
        </div>
        <div class="box">
            <div class="box__text">
                <h3>Nos siga no Instagram</h3>
                <p>Siga nossa empresa no Instagram @gasoutlet</p>
            </div>
        </div>
    </div>

    <script src='../js/main.js'></script>
</body>

</html>